doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Noom
  body 
    header
      h1 Noom
    main 
      div#welcome
        form
          input(placeholder="Room Name", required, type="text")
          button Enter Room
      div#call
        div#MyStream
          video#myFace(autoplay, playsinline, width="400", height="400")
          button#mute Mute
          button#camera Turn Camera Off
          select#cameras
        div#peerStream
        div#dataChannel 
          ul#messageList
          form#messageForm
            input#messageInput(placeholder="Write a message...", required, type="text")
            button Send
          
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/app.js")